.boton button{
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.boton button:hover{
    background-color: chartreuse;
}